<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Obuća Tanja</title>
    @Styles.Render("~/Style/css")  
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
</head>
<body>  
    
    <script type="text/javascript">
        $(document).ready(function () {

            $(".menu").click(function () {
                $("ul").toggleClass("showing");
            })

            $(".menu").on("click",function () {
                $("ul").toggleClass("showing");
                $(".menu").toggleClass("menu-open");
            });

        })
    </script>

    <header>
        <div class="container">
            <div id="logo">
                <img src="@Url.Content("~/Content/images/index/logo.png")" />
            </div>
            <nav>
                <div class="toggle">
                    <div class="menu"><i class="fas fa-bars" aria-hidden="true"></i></div>
                </div>
                <ul>
                    <li class="active">@Html.ActionLink("Početna", "Index", "Home")</li>
                    <li>@Html.ActionLink("Prodavnica", "Shop", "Home")</li>
                    <li>@Html.ActionLink("Muškarci", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Žene", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Korpa", "CheckOut", "Home")</li>
                </ul>
            </nav>
        </div>
    </header>

    @RenderBody()

    <footer>
        <div class="container">
                <div class="column-4 footer-col">
                    <h2>Proizvodi</h2>
                    @Html.ActionLink("Muške cipele", "Index", "Home")
                    @Html.ActionLink("Ženske cipele", "Index", "Home")
                </div>
                <div class="column-4 footer-col">
                    <h2>O nama</h2>
                    @Html.ActionLink("Naša firma", "Index", "Home")
                    @Html.ActionLink("Saradnja", "Index", "Home")
                    @Html.ActionLink("Katalog", "Index", "Home")
                </div>
                <div class="column-4 footer-col">
                    <h2>Kontakt</h2>
                    <p>ulica 28. Novembra</p>
                    <p>36300 Novi Pazar</p>
                    <p>Tel: 020/316-217</p>
                </div>
                <div class="column-4 footer-col">
                    <h2>Mreže</h2>
                    @Html.ActionLink("Insagram", "Index", "Home")
                    @Html.ActionLink("facebook", "Index", "Home")
                </div>
            <div id="footer-copy">
                <span>&copy; Željko Maksimović 2018</span>
            </div>       
        </div>
    </footer>
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
